<div class="container">
    <div class="bg-warning w-100 my-3">
        <h5 class="p-3">
            Pending Approval: {{ unapprovedStudents?.length || 0 }}
        </h5>
    </div>
    <div class="container my-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <app-student-card
                *ngFor="let s of unapprovedStudents"
                [student]="s"
                class="col my-2"
                (onApproveProf)="approveStudent(s)"
                (onDeleteProf)="deleteStudent(s)"
                [showApprove]="true"
            ></app-student-card>
        </div>
    </div>
    <div class="bg-info w-100 my-3">
        <h5 class="p-3">Approved: {{ approvedStudents?.length || 0 }}</h5>
    </div>
    <div class="container my-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <app-student-card
                *ngFor="let s of approvedStudents"
                [student]="s"
                class="col my-2"
                (onDeleteProf)="deleteStudent(s)"
                [showApprove]="false"
            ></app-student-card>
        </div>
    </div>
</div>
