<div class="container my-3">
    <form [formGroup]="studentRegisterForm">
        <div class="form-group">
            <label for="name">Full Name</label>
            <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
            />
            <small
                class="text-danger"
                *ngIf="name && name.invalid && name.touched"
            >
                Please provide a valid name.
            </small>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
            />
            <small
                class="text-danger"
                *ngIf="email && email.invalid && email.touched"
            >
                Please provide a valid email.
            </small>
        </div>
        <div class="form-group">
            <label for="nationalID">nationalID</label>
            <input
                type="nationalID"
                class="form-control"
                id="nationalID"
                formControlName="nationalID"
            />
            <small
                class="text-danger"
                *ngIf="nationalID && nationalID.invalid && nationalID.touched"
            >
                Please provide a valid nationalID.
            </small>
        </div>
        <div class="form-group">
            <label for="age">age</label>
            <input
                type="age"
                class="form-control"
                id="age"
                formControlName="age"
            />
            <small
                class="text-danger"
                *ngIf="age && age.invalid && age.touched"
            >
                Please provide a valid age.
            </small>
        </div>
        <div class="form-group">
            <label for="phoneNumber">phoneNumber</label>
            <input
                type="phoneNumber"
                class="form-control"
                id="phoneNumber"
                formControlName="phoneNumber"
            />
            <small
                class="text-danger"
                *ngIf="phoneNumber && phoneNumber.invalid && phoneNumber.touched"
            >
                Please provide a valid phoneNumber.
            </small>
        </div>
        <div class="form-group">
            <label for="level">level</label>
            <input
                type="level"
                class="form-control"
                id="level"
                formControlName="level"
            />
            <small
                class="text-danger"
                *ngIf="level && level.invalid && level.touched"
            >
                Please provide a valid level.
            </small>
        </div>
        <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!studentRegisterForm.valid"
        >
            Submit
        </button>
    </form>
</div>
