<div class="container my-3" style="max-width: 600px">
    <form [formGroup]="studentRegisterForm" novalidate>
        <div class="form-group">
            <label for="name">Full Name</label>
            <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
            />
            <small class="text-danger" *ngIf="name?.invalid && name?.touched">
                Please Provide a Valid Name.
            </small>
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
            />
            <small class="text-danger" *ngIf="email?.invalid && email?.touched">
                Please Provide a Valid Email.
            </small>
        </div>
        <div class="form-group">
            <label for="nationalID">National ID</label>
            <input
                type="text"
                class="form-control"
                id="nationalID"
                formControlName="nationalID"
            />
            <small
                class="text-danger"
                *ngIf="nationalID?.invalid && nationalID?.touched"
            >
                Please Provide a Valid National ID.
            </small>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input
                type="number"
                class="form-control"
                id="age"
                formControlName="age"
            />
            <small class="text-danger" *ngIf="age?.invalid && age?.touched">
                Please Provide a Valid Age.
            </small>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input
                type="text"
                class="form-control"
                id="phoneNumber"
                formControlName="phoneNumber"
            />
            <small
                class="text-danger"
                *ngIf="phoneNumber?.invalid && phoneNumber?.touched"
            >
                Please Provide a Valid Phone Number.
            </small>
        </div>
        <div class="form-group">
            <label>Level</label>
            <input
                type="number"
                class="form-control"
                id="level"
                formControlName="level"
            />
            <small class="text-danger" *ngIf="level?.invalid && level?.touched">
                Please Choose a Valid Level.
            </small>
        </div>
        <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!studentRegisterForm.valid"
            (click)="onSubmit()"
        >
            Submit
        </button>
    </form>
</div>
