<div class="container my-3">
    <div class="row align-items-center">
        <div class="col-6 col-sm-4">
            <h4 class="mx-4">Enroll in a Course</h4>
        </div>
    </div>
    <hr />
    <app-course-card
        *ngFor="let course of courses"
        [course]="course"
        [prof]="getProfByID(course.professorID)"
        [enroll]="true"
        (onEnrollCourse)="enrollCourse(course)"
        class="mx-3"
    ></app-course-card>
    <p class="mx-auto text-aligned-center" *ngIf="courses.length === 0">
        No Courses Available Right Now!
    </p>
</div>
