<div class="container my-3" style="max-width: 600px">
    <form [formGroup]="loginForm" novalidate>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
            />
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
            />
        </div>
    </form>
</div>
