<form style="margin-top: 200px;">
    <!-- Email input -->
    <div style="margin-left: 500px; margin-right: 500px;" class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Email address:</label>
        <input type="email" id="email" class="form-control" />
    </div>
  
    <!-- Password input -->
    <div style="margin-left: 500px; margin-right: 500px;" class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password:</label>
      <input type="password" id="password" class="form-control" />
    </div>
  

    <!-- Submit button -->
    <div style="margin-left: 700px; margin-right: 700px;">
        <button type="button" (click)="onSignIn()" class="btn btn-primary btn-block mb-4">Sign in</button>
    </div>
  
    <!-- Register buttons -->
    <div style="text-align:center" class="text-center">
      <p>Not a member? <a routerLink="/studentRegister" >Register as a student</a></p> 
      <p> or <a routerLink="/facultyRegister" >Register as a faculty</a></p> 
    </div>
  </form>