<div class="card" style="width: 18rem">
    <div class="card-body">
        <h5 class="card-title">{{ prof.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ prof.email }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{ prof.phoneNumber }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{ prof.faculty }}</h6>
        <a (click)="onDelete()" class="card-link btn btn-danger">Delete</a>
        <a
            (click)="onApprove()"
            class="card-link btn btn-success"
            *ngIf="showApprove"
            >Approve</a
        >
    </div>
</div>
